version: "3.8"

services:
  db:
    image: mysql:8.0
    container_name: school-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpass
      MYSQL_DATABASE: schooldb
      MYSQL_USER: schooluser
      MYSQL_PASSWORD: schoolpass
    volumes:
      - db_data:/var/lib/mysql

  backend:
    build: ./backend
    container_name: backend
    env_file:
      - .env
    ports:
      - "3500:3500"
    depends_on:
      - db
    restart: always

  frontend:
    build: ./frontend
    container_name: frontend
    ports:
      - "80:80"
    depends_on:
      - backend
    restart: always

volumes:
  db_data:
